<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Pessoas</title>
</head>
<body>
    <h1>Pessoas Cadastradas</h1>
    <a href="{% url 'criar_pessoa' %}">Cadastrar Nova Pessoa</a>
    <ul>
        {% for pessoa in pessoas %}
             <li>
                <strong>Nome:</strong> {{ pessoa.nome }} |
                <strong>CPF:</strong> {{ pessoa.cpf }} |
                <strong>Telefone:</strong> {{ pessoa.telefone }} |
                <strong>Endereço:</strong> {{ pessoa.rua }}, {{ pessoa.numero }}, {{ pessoa.bairro }} - {{ pessoa.cidade }}/{{ pessoa.estado }}
            </li>
            {% empty %}
            <li>Nenhuma pessoa cadastrada.</li>
        {% endfor %}
    </ul>
</body>
</html>