{% extends 'base.html' %}
{% load static %}

{% block title %}Sobre Nós - Sorveteria{% endblock %}

{% block content %}
<!-- Seção sobre início -->
<div class="about_section layout_padding">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <div class="about_img"><img src="{% static 'images/about-img.png' %}" alt="Sobre a Sorveteria"></div>
         </div>
         <div class="col-md-6">
            <h1 class="about_taital">Nossa História e Paixão</h1>
            <p class="about_text">Fundada com o sonho de transformar momentos comuns em memórias doces e inesquecíveis, nossa sorveteria traz o verdadeiro sabor do sorvete artesanal. Utilizamos apenas ingredientes frescos, selecionados com rigor para garantir uma textura cremosa única e um sabor espetacular que derrete na boca a cada mordida. Venha viver essa experiência deliciosa com a gente!</p>
            <div class="read_bt_1"><a href="#">Saiba Mais</a></div>
         </div>
      </div>
   </div>
</div>
<!-- Seção sobre fim -->
{% endblock %}