{% extends 'base.html' %}
{% load static %}

{% block title %}Nossos Sorvetes - Sorveteria{% endblock %}

{% block content %}
<!-- Seção de sorvetes início -->
<div class="cream_section layout_padding">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h1 class="cream_taital">Nossos Sorvetes em Destaque</h1>
            <p class="cream_text">Sabores artesanais e irresistíveis preparados especialmente para você</p>
         </div>
      </div>
      <div class="cream_section_2">
         <div class="row">
            <div class="col-md-4">
               <div class="cream_box">
                  <div class="cream_img"><img src="{% static 'images/img-1.png' %}" alt="Sorvete de Morango"></div>
                  <div class="price_text">R$ 10</div>
                  <h6 class="strawberry_text">Sorvete de Morango</h6>
                  <div class="cart_bt"><a href="#">Adicionar ao Carrinho</a></div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="cream_box">
                  <div class="cream_img"><img src="{% static 'images/img-2.png' %}" alt="Sorvete Cremoso"></div>
                  <div class="price_text">R$ 10</div>
                  <h6 class="strawberry_text">Sorvete Cremoso</h6>
                  <div class="cart_bt"><a href="#">Adicionar ao Carrinho</a></div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="cream_box">
                  <div class="cream_img"><img src="{% static 'images/img-1.png' %}" alt="Sorvete Especial de Morango"></div>
                  <div class="price_text">R$ 10</div>
                  <h6 class="strawberry_text">Sorvete Especial de Morango</h6>
                  <div class="cart_bt"><a href="#">Adicionar ao Carrinho</a></div>
               </div>
            </div>
         </div>
      </div>
      <div class="cream_section_2">
         <div class="row">
            <div class="col-md-4">
               <div class="cream_box">
                  <div class="cream_img"><img src="{% static 'images/img-3.png' %}" alt="Sorvete de Frutas"></div>
                  <div class="price_text">R$ 10</div>
                  <h6 class="strawberry_text">Sorvete de Frutas</h6>
                  <div class="cart_bt"><a href="#">Adicionar ao Carrinho</a></div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="cream_box">
                  <div class="cream_img"><img src="{% static 'images/img-4.png' %}" alt="Sorvete de Chocolate"></div>
                  <div class="price_text">R$ 10</div>
                  <h6 class="strawberry_text">Sorvete de Chocolate</h6>
                  <div class="cart_bt"><a href="#">Adicionar ao Carrinho</a></div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="cream_box">
                  <div class="cream_img"><img src="{% static 'images/img-5.png' %}" alt="Sorvete Tropical"></div>
                  <div class="price_text">R$ 10</div>
                  <h6 class="strawberry_text">Sorvete Tropical</h6>
                  <div class="cart_bt"><a href="#">Adicionar ao Carrinho</a></div>
               </div>
            </div>
         </div>
      </div>
      <div class="seemore_bt"><a href="#">Ver Mais Sabores</a></div>
   </div>
</div>
<!-- Seção de sorvetes fim -->
{% endblock %}