{% extends 'base.html' %}
{% load static %}

{% block title %}Home - Sorveteria{% endblock %}

{% block header_class %}{% endblock %}

{% block content %}
   <!-- banner section start -->
   <div class="banner_section layout_padding">
      <div class="container">
         <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="banner_taital_main">
                           <h1 class="banner_taital">Ice Cream</h1>
                           <p class="banner_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                           <div class="btn_main">
                              <div class="about_bt"><a href="{% url 'about' %}">About Us</a></div>
                              <div class="call_bt"><a href="{% url 'contact' %}">Call Now</a></div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="banner_img"><img src="{% static 'images/banner-img.png' %}" alt="Banner"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- banner section end -->
    <!-- about section start -->
<div class="about_section layout_padding">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <div class="about_img"><img src="{% static 'images/about-img.png' %}"></div>
         </div>
         <div class="col-md-6">
            <h1 class="about_taital">About Icecream</h1>
            <p class="about_text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore euconsectetur adipiscing esequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
            <div class="read_bt_1"><a href="#">Read More</a></div>
         </div>
      </div>
   </div>
</div>
<!-- about section end -->

   <!-- services section start -->
  <!-- cream section start -->
<div class="cream_section layout_padding">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h1 class="cream_taital">Our Featured Ice Cream</h1>
            <p class="cream_text">tempor incididunt ut labore et dolore magna aliqua</p>
         </div>
      </div>
      <div class="cream_section_2">
         <div class="row">
            <div class="col-md-4">
               <div class="cream_box">
                  <div class="cream_img"><img src="{% static 'images/img-1.png' %}"></div>
                  <div class="price_text">$10</div>
                  <h6 class="strawberry_text">Strawberry Ice Cream</h6>
                  <div class="cart_bt"><a href="#">Add To Cart</a></div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="cream_box">
                  <div class="cream_img"><img src="{% static 'images/img-2.png' %}"></div>
                  <div class="price_text">$10</div>
                  <h6 class="strawberry_text">Strawberry Ice Cream</h6>
                  <div class="cart_bt"><a href="#">Add To Cart</a></div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="cream_box">
                  <div class="cream_img"><img src="{% static 'images/img-1.png' %}"></div>
                  <div class="price_text">$10</div>
                  <h6 class="strawberry_text">Strawberry Ice Cream</h6>
                  <div class="cart_bt"><a href="#">Add To Cart</a></div>
               </div>
            </div>
         </div>
      </div>
      <div class="cream_section_2">
         <div class="row">
            <div class="col-md-4">
               <div class="cream_box">
                  <div class="cream_img"><img src="{% static 'images/img-3.png' %}"></div>
                  <div class="price_text">$10</div>
                  <h6 class="strawberry_text">Strawberry Ice Cream</h6>
                  <div class="cart_bt"><a href="#">Add To Cart</a></div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="cream_box">
                  <div class="cream_img"><img src="{% static 'images/img-4.png' %}"></div>
                  <div class="price_text">$10</div>
                  <h6 class="strawberry_text">Strawberry Ice Cream</h6>
                  <div class="cart_bt"><a href="#">Add To Cart</a></div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="cream_box">
                  <div class="cream_img"><img src="{% static 'images/img-5.png' %}"></div>
                  <div class="price_text">$10</div>
                  <h6 class="strawberry_text">Strawberry Ice Cream</h6>
                  <div class="cart_bt"><a href="#">Add To Cart</a></div>
               </div>
            </div>
         </div>
      </div>
      <div class="seemore_bt"><a href="#">See More</a></div>
   </div>
</div>
<!-- cream section end -->

<!-- services section start -->
<div class="services_section layout_padding">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h1 class="services_taital">Our Ice Cream Services</h1>
            <p class="services_text">tempor incididunt ut labore et dolore magna aliqua</p>
         </div>
      </div>
      <div class="services_section_2">
         <div class="row">
            <div class="col-md-4">
               <div class="services_box">
                  <h5 class="tasty_text"><span class="icon_img"><img src="{% static 'images/icon-1.png' %}"></span>Cookies Ice Cream</h5>
                  <p class="lorem_text">commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fat </p>
               </div>
            </div>
            <div class="col-md-4">
               <div class="services_box">
                  <h5 class="tasty_text"><span class="icon_img"><img src="{% static 'images/icon-2.png' %}"></span>Cookies Ice Cream</h5>
                  <p class="lorem_text">commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fat </p>
               </div>
            </div>
            <div class="col-md-4">
               <div class="services_box">
                  <h5 class="tasty_text"><span class="icon_img"><img src="{% static 'images/icon-1.png' %}"></span>Cookies Ice Cream</h5>
                  <p class="lorem_text">commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fat </p>
               </div>
            </div>
         </div>
      </div>
      <div class="seemore_bt"><a href="#">Read More</a></div>
   </div>
</div>
<!-- services section end -->

   

   <!-- testimonial / blog section start -->
   <div class="testimonial_section layout_padding">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <h1 class="testimonial_taital">Testimonials</h1>
            </div>
         </div>
         <div class="testimonial_section_2">
            <div class="row">
               <div class="col-md-12">
                  <div class="testimonial_box">
                     <p class="testimonial_text">tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                     <h4 class="client_name">Marri Fen</h4>
                     <div class="client_img"><img src="{% static 'images/client-img.png' %}" alt="Cliente"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- testimonial section end -->
    <!-- contact section start -->
<div class="contact_section layout_padding">
   <div class="container">
      <div class="row">
         <div class="col-md-4">
            <div class="contact_main">
               <h1 class="contact_taital">Contact Us</h1>
               <form action="" method="post">
                  {% csrf_token %}
                  <div class="form-group">
                     <input type="text" class="email-bt" placeholder="Name" name="name">
                  </div>
                  <div class="form-group">
                     <input type="email" class="email-bt" placeholder="Email" name="email">
                  </div>
                  <div class="form-group">
                     <input type="text" class="email-bt" placeholder="Phone Number" name="phone">
                  </div>
                  <div class="form-group">
                     <textarea class="massage-bt" placeholder="Message" rows="5" id="comment" name="message"></textarea>
                  </div>
                  <div class="main_bt"><button type="submit" style="background: none; border: none; color: inherit; font: inherit; cursor: pointer; width: 100%;">SEND</button></div>
               </form>
            </div>
         </div>
         <div class="col-md-8">
            <div class="location_text">
               <ul>
                  <li>
                     <a href="#">
                     <span class="padding_left_10 active"><i class="fa fa-map-marker" aria-hidden="true"></i></span>Making this the first true</a>
                  </li>
                  <li>
                     <a href="#">
                     <span class="padding_left_10"><i class="fa fa-phone" aria-hidden="true"></i></span>Call : +01 1234567890
                     </a>
                  </li>
                  <li>
                     <a href="#">
                     <span class="padding_left_10"><i class="fa fa-envelope" aria-hidden="true"></i></span>Email : demo@gmail.com
                     </a>
                  </li>
               </ul>
            </div>
            <div class="mail_main">
               <h3 class="newsletter_text">Newsletter</h3>
               <form action="" method="post">
                  {% csrf_token %}
                  <div class="form-group">
                     <input type="email" class="update_mail" placeholder="Enter Your Email" name="newsletter_email">
                     <div class="subscribe_bt"><button type="submit" style="background: none; border: none; color: inherit; font: inherit; cursor: pointer; width: 100%;">Subscribe</button></div>
                  </div>
               </form>
            </div>
            <div class="footer_social_icon">
               <ul>
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- contact  end -->
{% endblock %}