{% extends 'base.html' %}
{% load static %}

{% block title %}Nossos Serviços - Sorveteria{% endblock %}

{% block content %}
<!-- Seção de serviços início -->
<div class="services_section layout_padding">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h1 class="services_taital">Nossos Serviços Especiais</h1>
            <p class="services_text">Experiências únicas e momentos deliciosos preparados para encantar você</p>
         </div>
      </div>
      <div class="services_section_2">
         <div class="row">
            <div class="col-md-4">
               <div class="services_box">
                  <h5 class="tasty_text"><span class="icon_img"><img src="{% static 'images/icon-1.png' %}" alt="Ícone"></span>Sorvete de Cookies</h5>
                  <p class="lorem_text">Crocantes e deliciosos pedaços de cookies misturados a uma base ultra cremosa que derrete na boca a cada mordida.</p>
               </div>
            </div>
            <div class="col-md-4">
               <div class="services_box">
                  <h5 class="tasty_text"><span class="icon_img"><img src="{% static 'images/icon-2.png' %}" alt="Ícone"></span>Sorvete de Chocolate</h5>
                  <p class="lorem_text">Um sabor marcante, rico e intenso de chocolate nobre para satisfazer os paladares mais exigentes.</p>
               </div>
            </div>
            <div class="col-md-4">
               <div class="services_box">
                  <h5 class="tasty_text"><span class="icon_img"><img src="{% static 'images/icon-1.png' %}" alt="Ícone"></span>Sorvete Especial</h5>
                  <p class="lorem_text">Uma combinação surpreendente de sabores criados com exclusividade para inovar e adoçar o seu dia.</p>
               </div>
            </div>
         </div>
      </div>
      <div class="seemore_bt"><a href="#">Saiba Mais</a></div>
   </div>
</div>
<!-- Seção de serviços fim -->
{% endblock %}