{% extends 'base.html' %}

{% block title %}Detalhes do Produto - Sorveteria{% endblock %}

{% block content %}

<main class="container py-5">

    <div class="card shadow-sm">
        <div class="card-body">

            <h1 class="mb-4">Detalhes do Produto</h1>

            <h3>{{ produto.descricao }}</h3>

            <p>
                <strong>Descrição:</strong>
                {{ produto.descricao }}
            </p>

            <p>
                <strong>Valor:</strong>
                R$ {{ produto.valor }}
            </p>

            <a href="{% url 'lista_produtos' %}" class="btn btn-secondary">
                Voltar para produtos
            </a>

        </div>
    </div>

</main>

{% endblock %}