{% extends 'base.html' %}
{% load static %}

{% block title %}Novo Pedido - Sorveteria{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/forms.css' %}">{% endblock %}

{% block content %}
<main class="container my-5"><div class="row justify-content-center"><div class="col-lg-8"><section class="card-romyk-form"><header class="card-romyk-header"><h1 class="title-romyk">Novo Pedido</h1><p class="subtitle-romyk">Registre um novo pedido</p></header><div class="card-body p-4 p-md-5"><form method="post" class="romyk-grid-form">{% csrf_token %}{{ form.as_p }}<div class="form-actions"><a href="{% url 'lista_pedidos' %}" class="btn btn-outline-secondary">Cancelar</a><button type="submit" class="btn-romyk-submit"><i class="fa fa-save mr-2"></i>Salvar</button></div></form></div></section></div></div></main>
{% endblock %}
